
/**
    Access Menu style start
 */

:root{
  --c-gray-selected: #EEEEEE;
  --c-orange-first: #F16E00;
  --c-gray-hovered: #333333;
}

section{
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  color: #000000;
  border: 2px solid #000000;
}


.profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu{
  padding: 1em;
}

.access-menu{
  position: relative;
  opacity: 1;
}

.access-menu.access-menu--hide{
  opacity: 0;
}
:is(.access-menu, .profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu){
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  grid-gap: .3em;
}
:is(.profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu){
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  transition: left 1s ease-in, opacity 1s, visibility 1s;
  min-height: 100%;
  visibility: hidden;
  opacity: 0;
}

.access-menu.profils-menu-show .profils-menu,
.access-menu.settings-menu-show .settings-menu,
.access-menu.subtitles-menu-show .subtitles-menu,
.settings-menu:is(.subtitles-menu-show) + :is(.subtitles-menu),
.settings-menu:is(.font-menu-show) ~ :is(.font-menu),
.font-menu:is(.text-color-menu-show) :is(.text-color-menu),
.font-menu:is(.background-menu-show) :is(.background-menu),
.font-menu:is(.text-follow-menu-show) :is(.text-follow-menu),
.font-menu:is(.text-size-menu-show) :is(.text-size-menu),
.font-menu:is(.text-outline-menu-show) :is(.text-outline-menu),
.font-menu:is(.text-family-menu-show) :is(.text-family-menu){
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: left 1s ease-in, opacity 1s, visibility 1s;
}

:is(.settings-menu, .font-menu):is(.subtitles-menu-show, .font-menu-show){
  filter: blur(3px);
  pointer-events: none;
}

.access-menu-row{
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .3em;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn ){
  width: 100%;
  height: 50px;
  display: grid;
  justify-content: center;
  padding: 0.25em;
  background-color: var( --c-gray-selected );
  border-radius: 1em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: "Arial";
  line-height: 1em;
  /* place-items: center; */
  grid-auto-flow: column;
  grid-gap: .5em;
  cursor: pointer;
  grid-template-columns: 5% 25%;
  grid-template-rows: 100%;
}

.font-menu-btn:first-child{
  grid-template-columns: 5% 25%;
}
.font-menu-btn{
  grid-template-columns: minmax(25%, max-content) 5%;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn):hover{
  background-color: var(--c-gray-hovered);
  color: #ffffff;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn).vjs-selected{
  background-color: var(--c-violet);
  color: #000000;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn):hover svg{
  fill: #ffffff;
}

.access-menu-btn:hover :is(svg circle){
  stroke: #ffffff;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn):active{
  background-color: var(--c-orange-first);
  color: #000000;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn):active :is(svg){
  fill: #000000;
  stroke: #000000;
}

.access-menu-btn:active :is(svg circle){
  stroke: #000000;
}



:is(.access-menu-btn-icon, .profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon, .font-menu-btn-icon, .menu-btn-icon){
  width: 65%;
  height: 100%;
  aspect-ratio: 1;
}

:is(.access-menu-btn-text, .profils-menu-btn-text, .settings-menu-btn-text, .subtitles-menu-btn-text, .font-menu-btn-text, .menu-btn-text){
  place-self: center left;
}

:is(.access-menu-btn-text, .profils-menu-btn-text, .settings-menu-btn-text, .subtitles-menu-btn-text, .font-menu-btn-text, .menu-btn-text):hover{
  color: #ffffff;
}

.access-menu-btn-back{
  grid-template-columns: 15% 25%;
}

.access-menu-btn-forward{
  grid-template-columns: 25% 15%;
}

section svg{
  fill: #000000;
  width: 100%;
  height: 100%;
}

svg line{
  display: none;
}

:is(.profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon, .font-menu-btn-icon, .menu-btn-icon){
  font-size: 1em;
  place-self: center;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

:is(.profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon, .font-menu-btn-icon, .menu-btn-icon) i{
  font-size: 2em;
  width: 100%;
  height: 100%;
}

/**
    Access Menu Style End
 */
