
/**
    Access Menu style start
 */

:root{
  --c-gray-selected: #EEEEEE;
  --c-orange-first: #F16E00;
  --c-gray-hovered: #333333;
  --c-gray-title : #999999;
  --c-violet : rgb(168, 133, 216);
}

section{
  //padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  color: #000000;
  //border: 2px solid #000000;
}


.profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu{
  //padding: 1em;
}

.access-menu{
  position: relative;
  opacity: 1;
}

.access-menu.menu--hide{
  opacity: 0;
  display: none;
}
:is(.access-menu, .profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu){
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  //grid-gap: 5px;
  grid-auto-rows: clamp(1.95em, calc( 2.18vw + 1.4em ), 50px );
  font-size: 16px;
}

.subtitles-menu{
  z-index: 100;
}


:is(.profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu){
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  transition: left .3s ease-in, opacity .3s, visibility .3s;
  min-height: 100%;
  visibility: hidden;
  opacity: 0;
}

.access-menu.profiles-menu-show .profiles-menu,
.access-menu.settings-menu-show .settings-menu,
.access-menu.subtitles-menu-show .subtitles-menu,
.access-menu.volume-menu-show .volume-menu,
.access-menu.sonores-menu-show .sonores-menu,
.access-menu.font-menu-show .font-menu,
.access-menu:is(.text-color-menu-show) :is(.text-color-menu),
.access-menu:is(.background-menu-show) :is(.background-menu),
.access-menu:is(.text-follow-menu-show) :is(.text-follow-menu),
.access-menu:is(.text-size-menu-show) :is(.text-size-menu),
.access-menu:is(.text-outline-menu-show) :is(.text-outline-menu),
.access-menu:is(.text-family-menu-show) :is(.text-family-menu),
.access-menu:is(.params-menu-show) :is(.params-menu){
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: left .3s ease-in, opacity .3s, visibility .3s;
}

:is(.settings-menu, .font-menu):is(.subtitles-menu-show, .font-menu-show){
  filter: blur(3px);
  pointer-events: none;
}

.access-menu-row, .menu-row{
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

:is(
  .access-menu-btn, .profils-menu-btn, .settings-menu-btn,
  .subtitles-menu-btn, .font-menu-btn, .menu-btn, .menu__btn ){
  width: 100%;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  padding: 0.2em;
  align-items: center;
  background-color: var(--c-gray-selected);
  border-radius: .3em;
  font-size: clamp(1.1em, calc( 0.13vw + 1.07em ), 1.2em);
  font-weight: 600;
  font-family: "Arial";
  line-height: 1em;
  cursor: pointer;
  line-height: clamp(1.1em, calc( 0.13vw + 1.07em ), 1.2em);
  border: 1px solid #ffffff;
}

.font-menu-btn:first-child{
  grid-template-columns: 5% 25%;
}

.font-menu-btn{
  grid-template-columns: minmax(25%, max-content) 5%;
}

:is(
  .access-menu-btn, .profils-menu-btn, .settings-menu-btn,
  .subtitles-menu-btn, .font-menu-btn, .menu-btn, .menu__btn ):not(.param, .menu__btn-remove ):hover{
  background-color: var(--c-gray-hovered) !important;
  color: #ffffff !important;
  border: 1px solid #ffffff;
}

:is(
  .access-menu-btn, .profils-menu-btn, .settings-menu-btn,
  .subtitles-menu-btn, .font-menu-btn, .menu-btn, .menu__btn):is(.vjs-selected, .vjs-selectedd) {
  background-color: var(--c-violet);
  color: #000000;
}

.access-menu {
  .play-pause-btn{
    :is( .btn__icon-pause, .btn__icon-ended){
      display: none;
    }
    &.pause{
      .btn__icon-play{
        display: none;
      }
      .btn__icon-pause{
        display: block;
      }
    }
    &.ended{
      .btn__icon-play{
        display: none;
      }
      .btn__icon-ended{
        display: block;
      }
    }
  }
  .menu__btn-fullscreen{
    .btn__icon > *{
      display: none;
    }
    &.nofullscreen{
      .nofullscreen-icon{
        display: block;
      }
    }
    &.fullscreen{
      .fullscreen-icon{
        display: block;
      }
    }
  }
  .video-speed{
    .btn__icon-left > *{
      display: none;
    }
    &.normal{
      .normal-icon{
        display: block;
      }
    }
    &.slow{
      .slow-icon{
        display: block;
      }
    }
    &.rapid{
      .rapid-icon{
        display: block;
      }
    }
  }
  .menu__profile-btn, #audioDesc, .menu__btn{
    svg{
      line{
        stroke: none;
        //display: block;
      }
    }
    &:hover{
      svg{
        line{

        }
      }
    }
    &.disabled{
      svg{
        line{
          stroke: #000000;
          display: block;
        }
      }
      &:active{
        svg{
          line{
            stroke: #000000 !important;
          }
        }
      }
      &:hover{
        svg{
          line{
            stroke: #ffffff;
          }
        }
      }
    }
  }
  .sonores-menu{
    .menu__btn{
      &:not( [data-type], .menu__btn-remove ){
        background-color: #cccccc;
        cursor: initial !important;
        &:hover{
          background-color: #cccccc !important;
        }
      }
    }
  }
  .menu__contrast-btn{
    .btn__icon > *{
      display: none;
    }
    &.normal{
      .normal-icon{
        display: block;
      }
    }
    &.contrast{
      .contrast-icon{
        display: block;
      }
    }
  }
}

.volume-menu .menu__btn{
  &.menu__btn-unmuted{
    .btn__icon-muted{
      display: none;
    }
    .btn__text-inner{
      .btn__text-muted{
        display: none;
      }
    }
  }
  &.menu__btn-muted{
    .btn__icon-unmuted{
      display: none;
    }
    .btn__icon-muted{
      display: block;
    }
    .btn__text-inner{
      .btn__text-unmuted{
        display: none;
      }
      .btn__text-muted{
        display: block;
      }
    }
  }

}

:is(
  .access-menu-btn, .profils-menu-btn, .settings-menu-btn,
  .subtitles-menu-btn, .font-menu-btn, .menu__btn ):not(.menu__btn-remove):hover svg{
  fill: #ffffff;
  circle{
    stroke: #ffffff;
  }
}

/*.access-menu-btn:hover :is(svg circle){
  stroke: #ffffff;
}*/

:is(
  .access-menu-btn, .profils-menu-btn, .settings-menu-btn,
  .subtitles-menu-btn, .font-menu-btn, .menu-btn, .menu__btn ):not(.param, .menu__btn-remove):active{
  background-color: var(--c-orange-first) !important;
  color: #000000 !important;
}

:is(
  .access-menu-btn, .profils-menu-btn, .settings-menu-btn,
  .subtitles-menu-btn, .font-menu-btn, .menu-btn, .menu__btn):not(.menu__btn-remove):active :is(svg){
  fill: #000000;
  stroke: #000000;;
  circle{
    stroke: #000000;
  }
}

/*.access-menu-btn:active :is(svg circle){
  stroke: #000000;
}*/



:is(
  .access-menu-btn-icon, .profils-menu-btn-icon, .settings-menu-btn-icon,
  .subtitles-menu-btn-icon, .font-menu-btn-icon, .menu-btn-icon, .btn__icon){
  width: 1em;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  position: absolute;
  left: -1em;
  top: 0;
}

:is(
  .access-menu-btn-text, .profils-menu-btn-text, .settings-menu-btn-text,
  .subtitles-menu-btn-text, .font-menu-btn-text, .menu-btn-text, .btn__text){
  line-height: 1em;
  font-size: .8em;
  width: 33%;
  height: 1em;
  text-align: center;
  position: relative;
  pointer-events: none;
}

:is(
  .access-menu-btn-text, .profils-menu-btn-text, .settings-menu-btn-text,
  .subtitles-menu-btn-text, .font-menu-btn-text, .menu-btn-text, .btn__text):hover{
  color: #ffffff;
}

.access-menu-btn-back{
  grid-template-columns: 15% 25%;
}

.access-menu-btn-forward{
  .access-menu-btn-icon{
    left: initial;
    right: -1em;
  }
}

.access-menu-btn-text, .btn__text{
  .btn__icon-right{
    left: initial;
    right: -1em;
  }
}

section svg{
  fill: #000000;
  width: 100%;
  height: 100%;
}

svg line{
  display: none;
}

:is(
  .profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon,
  .font-menu-btn-icon, .menu-btn-icon, .btn__icon){
  font-size: 1em;
  place-self: center;
  //width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: -1em;
}

:is(
  .profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon,
  .font-menu-btn-icon, .menu-btn-icon, .btn__icon) i{
  font-size: 1em;
  width: 100%;
  height: 100%;
}

.volume-menu, .subtitles-menu{
  .btn__text{
    width: 30%;
  }
}

.menu__btn-remove{
  background-color: var(--c-gray-title);
}





/**
    Access Menu Style End
 */
