:root{
  --c-gray-hovered : #333333
}

/* redisgn the bootstrap module */
.container :is( .col , .row ){
  height: 100%;
}

.row{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fit, minmax( min(25em, 100%), 1fr ) );
  grid-auto-rows: 60ch;
}

.col-4{
  max-width: inherit;
}
/*******/

.video-js{
  width: 100%;
  height: 100%;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
  opacity: 1 !important;

}

/* change text and appearance style of any button */
.vjs-button>.vjs-icon-placeholder:before{
  line-height: 1.67;
  font-size: 20px;
  font-weight: 400;
}

.vjs-button:is( :hover , :focus){
  outline-color: #8AB839;
  outline-style: solid;
  background-color: var(--c-gray-hovered) ;
}


.vjs-remaining-time-display{
  font-size: 16px;
}

/*vjs captions/subtitles/access menu styles*/
.vjs-menu .vjs-menu-content::-webkit-scrollbar{
  display: none;
}

.vjs-menu-button-popup .vjs-menu{
  width: 18em;
  /*top: 1em;*/
}

.vjs-access-button.vjs-menu-button-popup .vjs-menu{
  width: 22em;
  /*top: 1em;*/
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content{
  background-color: #000000;
  padding: 1em;
  overflow: hidden;
  max-height: max-content;
  border-radius: 1em;
}

span.vjs-menu-item-text{
  font-size: 1.5em;
  font-weight: 700;
}

.vjs-access-menu li{
  display: grid;
  grid-template-columns: max-content 1fr;
  place-items: center start;
}

.vjs-access-menu li .vjs-access-menu-item-icon {
  width: 25px;
  aspect-ratio: 1;
  margin: 0 7px;
  filter: invert(100%);
}

.vjs-access-menu .vjs-access-menu-item.vjs-selected .vjs-access-menu-item-icon{
  filter : revert;
}
.vjs-menu-content .vjs-access-menu-item:first-child .vjs-access-menu-item-icon {
  background: url("https://accessible-player.djanah.com/button-icons/white/vplus.svg") no-repeat;
}

.vjs-menu-content .vjs-access-menu-item:nth-child(2) .vjs-access-menu-item-icon {
  background: url("https://accessible-player.djanah.com/button-icons/white/vplus.svg") no-repeat;
}

.vjs-menu-content .vjs-access-menu-item:nth-child(3) .vjs-access-menu-item-icon {
  background: url("https://accessible-player.djanah.com/button-icons/white/lsfplus.svg") no-repeat;
}

.vjs-menu-content .vjs-access-menu-item:nth-child(4) .vjs-access-menu-item-icon {
  background: url("https://accessible-player.djanah.com/button-icons/white/conplus.svg") no-repeat;
}

.vjs-menu-content .vjs-access-menu-item:nth-child(5) .vjs-access-menu-item-icon {
  background: url("https://accessible-player.djanah.com/button-icons/white/audplus.svg") no-repeat;
}

.vjs-menu-content .vjs-access-menu-item:nth-child(6) .vjs-access-menu-item-icon {
  background: url("https://accessible-player.djanah.com/button-icons/white/profdef.svg") no-repeat;
}

.vjs-menu li.vjs-selected{
  color: #000000 !important;
}

/*vjs-descriptions menu button styles*/
.vjs-descriptions-button{
  display: none;
}

/*vjs tooltip*/
[type=button]:is(:hover) .vjs-tooltip,
[type=button]:is(:hover) ~ .vjs-tooltip,
.vjs-progress-holder .vjs-time-tooltip{
  opacity: 1;
  transition: opacity 1s, background-color 1S;
}

.vjs-tooltip, .vjs-time-tooltip{
  padding: 5px 10px !important;
  top: -2.4em;
  position: absolute;
  opacity: 0;
  color: #000000 !important;
  background-color: rgb(204, 204, 204) !important;
  cursor: pointer;
  border-radius: 5px !important;
  font-size: 1rem !important;
  font-weight: 400;
  text-align: center;
  transition: opacity 1s, background-color 1S;
  z-index: 1;
  pointer-events: none;
  border: none !important;
  width: max-content !important;
}

.vjs-tooltip-hide{
  opacity: 0 !important;
}



/* fullscreen */
.vjs-fullscreen-control > .vjs-tooltip{
  right: 0px;
}

.vjs-fullscreen-control .vjs-icon-placeholder{
  fill: #ffffff;
  width: 50%;
  aspect-ratio: 1;
}

.vjs-access-control svg{
  width: 50%;
  aspect-ratio: 1;
  fill: #ffffff;
}
/*********/

/* vjs-menu button */
.vjs-menu-button-popup-hide .vjs-menu{
  display: none !important;
}

.vjs-menu.vjs-menu-block{
  display: block !important;
}


/**
    Access Menu style
 */

:root{
  --c-gray-selected: #EEEEEE;
  --c-orange-first: #F16E00;
  --c-gray-hovered: #333333;
}

section{
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  color: #000000;
  border: 2px solid #000000;
}


.profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu{
  padding: 1em;
}

.access-menu{
  position: relative;
}
:is(.access-menu, .profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu){
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  grid-gap: .3em;
}
:is(.profils-menu, .settings-menu, .subtitles-menu, .font-menu, .menu){
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  transition: left 1s ease-in, opacity 1s, visibility 1s;
  min-height: 100%;
  visibility: hidden;
  opacity: 0;
}

.access-menu.profils-menu-show .profils-menu,
.access-menu.settings-menu-show .settings-menu,
.access-menu.subtitles-menu-show .subtitles-menu,
.settings-menu:is(.subtitles-menu-show) + :is(.subtitles-menu),
.settings-menu:is(.font-menu-show) ~ :is(.font-menu),
.font-menu:is(.text-color-menu-show) :is(.text-color-menu),
.font-menu:is(.background-menu-show) :is(.background-menu),
.font-menu:is(.text-follow-menu-show) :is(.text-follow-menu),
.font-menu:is(.text-size-menu-show) :is(.text-size-menu),
.font-menu:is(.text-outline-menu-show) :is(.text-outline-menu),
.font-menu:is(.text-family-menu-show) :is(.text-family-menu){
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: left 1s ease-in, opacity 1s, visibility 1s;
}

:is(.settings-menu, .font-menu):is(.subtitles-menu-show, .font-menu-show){
  filter: blur(3px);
  pointer-events: none;
}

.access-menu-row{
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .3em;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn ){
  width: 100%;
  height: 50px;
  display: grid;
  justify-content: center;
  padding: 0.25em;
  background-color: var( --c-gray-selected );
  border-radius: 1em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: "Arial";
  line-height: 1em;
  /* place-items: center; */
  grid-auto-flow: column;
  grid-gap: .5em;
  cursor: pointer;
  grid-template-columns: 5% 25%;
  grid-template-rows: 100%;
}

.font-menu-btn:first-child{
  grid-template-columns: 5% 25%;
}
.font-menu-btn{
  grid-template-columns: minmax(25%, max-content) 5%;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn):hover{
  background-color: var(--c-gray-hovered);
  color: #ffffff;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn):hover svg{
  fill: #ffffff;
}

.access-menu-btn:hover :is(svg circle){
  stroke: #ffffff;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn):active{
  background-color: var(--c-orange-first);
  color: #000000;
}

:is(.access-menu-btn, .profils-menu-btn, .settings-menu-btn, .subtitles-menu-btn, .font-menu-btn, .menu-btn):active :is(svg){
  fill: #000000;
  stroke: #000000;
}

.access-menu-btn:active :is(svg circle){
  stroke: #000000;
}



:is(.access-menu-btn-icon, .profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon, .font-menu-btn-icon, .menu-btn-icon){
  width: 65%;
  height: 100%;
  aspect-ratio: 1;
}

:is(.access-menu-btn-text, .profils-menu-btn-text, .settings-menu-btn-text, .subtitles-menu-btn-text, .font-menu-btn-text, .menu-btn-text){
  place-self: center left;
}

.access-menu-btn-back{
  grid-template-columns: 15% 25%;
}

.access-menu-btn-forward{
  grid-template-columns: 25% 15%;
}

section svg{
  fill: #000000;
  width: 100%;
  height: 100%;
}

svg line{
  display: none;
}

:is(.profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon, .font-menu-btn-icon, .menu-btn-icon){
  font-size: 1em;
  place-self: center;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

:is(.profils-menu-btn-icon, .settings-menu-btn-icon, .subtitles-menu-btn-icon, .font-menu-btn-icon, .menu-btn-icon) i{
  font-size: 2em;
  width: 100%;
  height: 100%;
}
